body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.newsCard{
  border: 1px solid hsla(0, 0%, 80%);
  border-radius: 1em;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  margin-bottom: 0.2em;
  background-color: hwb(0 100% 0%);
}

.newsCard .title:link{
  color: #1500ff;
  margin-top: 0;
  margin-bottom: 0;
}

.card .title:visited{
  color: #7f7f7f6a;
}

.app{
  padding: 2em;
  background-color:  hsl(207, 100%, 88%);
}

h1{
  text-align: center;
}

.weatherWidget{
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.weatherCard{
  display: block;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 120px;
  background-color: hwb(0 100% 0%);
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 0.2em;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding-left: 1em;
  padding-right: 1em;
}

.weatherList{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.main{
  background-color: beige;
  border: 1px transparent;
  border-radius: 0.2em;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding:1rem;
}
